* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: "Inter", sans-serif;
  color: #303030;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  background: #000000;
  color: #fff;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 0.5rem;
  background: #1a1a1a;
  padding: 0.75rem 1rem;

  .d-logo {
    display: none;
  }

  .search {
    position: relative;

    img {
      position: absolute;
      top: 10px;
      left: 5px;
      filter: invert(75%) sepia(0%) saturate(1080%) hue-rotate(231deg)
        brightness(98%) contrast(89%);
    }

    input {
      width: 14.9rem;
      height: 2rem;
      padding-left: 1.25rem;
      border: 1px solid #616161;
      background: #303030;
      border-radius: 8px;
      transition: all 0.3s;
      outline: none;
      color: #b5b5b5;

      &::placeholder {
        color: #b5b5b5;
      }

      &:hover,
      &:active {
        border-color: #e1e1e1;
      }
      &:focus {
        border: 1px solid #fff;
      }
    }
  }

  .notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .bell-notf {
      border-radius: 8px;
      padding: 0.4rem;
      transition: all 0.3s;
      outline: none;
      cursor: pointer;

      img {
        filter: invert(75%) sepia(0%) saturate(1080%) hue-rotate(231deg)
          brightness(98%) contrast(89%);
      }

      &:hover,
      &:active {
        background: #656266;
      }

      &:focus {
        box-shadow: 0px 0px 0px 3px #005bd3;
      }
    }

    .notf {
      position: fixed;
      background: #fff;
      right: 1rem;
      top: 4.9rem;
      width: calc(100% - 2rem);
      border-radius: 14px;
      border: 1px solid #dbdbdb;
      box-shadow: 0px 4px 8px 0px #0000000d;
      padding: 1rem;
      font-size: 0.875rem;
      display: none;
      z-index: 5;

      div {
        display: flex;
        justify-content: space-between;

        .icons {
          gap: 1rem;

          img {
            filter: invert(37%) sepia(0%) saturate(5%) hue-rotate(93deg)
              brightness(98%) contrast(90%);
          }
        }
      }

      p {
        font-size: 0.813rem;
        text-align: center;
        padding: 1rem;
        background: #f1f1f1;
        margin-top: 1rem;
      }
    }

    .open {
      display: block;
    }

    .user {
      cursor: pointer;
      border: none;
      border-radius: 6px;
      font-size: 0.8rem;
      font-weight: 500;
      border: 1px solid #656266;
      background: #36fba1;
      outline: none;
      cursor: pointer;

      span:first-child {
        display: none;
      }
      span:last-child {
        display: inline-block;
        padding: 0.4rem;
      }

      &:hover,
      &:active {
        background: #656266;
      }

      &:focus {
        box-shadow: 0px 0px 0px 3px #005bd3;
      }
    }
  }

  nav {
    position: fixed;
    background: #fff;
    top: 4.9rem;
    right: 1rem;
    width: 20rem;
    border-radius: 14px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 4px 8px 0px #0000000d;
    z-index: 5;
    display: none;

    ul {
      padding: 0.4rem 0;
      list-style: none;
      font-size: 0.813rem;
      display: flex;
      flex-direction: column;
      gap: 4px;

      li a {
        border-radius: 8px;
        margin: 0 0.4rem;
        padding: 0.5rem;
        transition: 0.3s;
        font-weight: 400;
        border: 2px solid transparent;
        text-decoration: none;
        color: #303030;
        display: block;
        outline: none;

        span:last-child {
          color: #616161;
          font-size: 0.75rem;
        }

        &:hover,
        &:active {
          background: #f1f1f1;
        }

        &:focus {
          border: 2px solid #005bd3;
        }
      }

      .user-p a {
        margin: 0 0.4rem;
        background: #f1f1f1;
        padding: 0.25rem 0.8rem 0.25rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-SP {
          // display: inline-block;
          padding: 0.4rem 0;

          span:first-child {
            background: #36fba1;
            border-radius: 6px;
            font-size: 0.8rem;
            padding: 0.4rem;
          }

          span:last-child {
            font-weight: 600;
          }
        }
      }

      .store a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.4rem;
      }

      .center {
        padding: 0;
        margin: 0;
        border-radius: 0;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;

        &:hover {
          background: none;
        }

        ul li a {
          padding: 0.4rem;
        }
      }
    }
  }
}

.open {
  display: block;
}

main {
  .trial-extension {
    margin-top: 1.75rem;
    position: relative;
    font-size: 0.813rem;
    background: #1a1a1a;
    padding: 0.75rem 1rem;

    p {
      color: #e3e3e3;
      margin-bottom: 1rem;
      font-size: 0.813rem;
    }

    a {
      font-size: 0.75rem;
      text-decoration: none;
      padding: 0.375rem 0.75rem;
      background: #ffffff;
      border: 1px solid #0000001a;
      border-radius: 6px;
      color: #323232;
      outline: none;
      font-weight: 600;

      &:focus {
        border: 1px solid #005bd3;
      }
    }

    button {
      position: absolute;
      right: 1rem;
      top: 0.7rem;
      background: none;
      border: none;
      outline: none;
      padding: 0.3rem;
      border-radius: 5px;
      transition: all 0.3s;
      cursor: pointer;

      img {
        filter: invert(100%) sepia(0%) saturate(5385%) hue-rotate(202deg)
          brightness(118%) contrast(78%);
      }

      &:hover,
      &:active,
      &:focus {
        background: #303030;
      }
    }
  }

  .store-setup {
    padding: 1rem 0;
    position: relative;
    background: #fff;
    margin-top: 1rem;
    overflow: hidden;
    height: 26.4rem;
    transition: all 0.3s;

    h1 {
      font-size: 0.875rem;
      padding: 0 1rem;
    }

    .open-menu {
      position: absolute;
      right: 1rem;
      top: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0.25rem;
      border-radius: 5px;
      outline: none;

      img {
        filter: invert(30%) sepia(2%) saturate(7%) hue-rotate(55deg)
          brightness(92%) contrast(93%);
      }

      &:hover,
      &:active {
        background: #f1f1f1;
      }

      &:focus {
        border: 2px solid #005bd3;
      }
    }

    p {
      font-size: 0.813rem;
      padding: 0.25rem 1rem 1rem 1rem;
    }

    .setup-progress {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 1rem;

      .details {
        font-size: 0.75rem;
      }

      .progress {
        width: 4.5rem;
        height: 4px;
        background: #e3e3e3;
        border-radius: 5px;
        transition: all 0.5s;

        div {
          width: 0;
          background: #1a1a1a;
          height: 4px;
          border-radius: 5px;
          transition: all 0.5s;
        }
      }
    }

    .one {
      margin: 1rem 0.5rem;
      list-style: none;
      transition: all 1s;

      .two {
        padding: 0.5rem;
        border-radius: 10px;

        .content-body {
          .header {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;

            h2 {
              font-size: 0.813rem;
              font-weight: 500;
              color: #303030;
            }

            button {
              position: relative;
              border: none;
              background: none;
              outline: none;

              .divv {
                border: 2px dashed #8a8a8a;
                border-radius: 50%;
                width: 1.25rem;
                height: 1.25rem;
              }

              img {
                width: 1.5rem;
                position: absolute;
                top: -2px;
                left: -2px;
                opacity: 0;
                transition: all 0.4s 0.5s;
              }

              &:hover .divv,
              &:active .divv,
              &:focus .divv {
                border-style: solid;
              }
            }

            .btn-checked {
              img {
                opacity: 1;
                transition: all 0.4s 0.5s;
              }

              .divv {
                border-right: 0;
                border-style: solid;
                border-color: #303030;
                animation: rotate 1s 2 linear;
              }

              @keyframes rotate {
                to {
                  transform: rotate(1turn);
                }
              }
            }
          }

          p {
            font-size: 0.875rem;
            padding: 1rem 0;
            margin-left: 1.7rem;
            color: #616161;
          }

          .action-btn {
            margin-left: 1.7rem;
            padding: 0.375rem 0.75rem;
            background: #404040;
            border-radius: 6px;
            border-width: 1.5px, 1.5px, 0px, 1.5px;
            border-style: solid;
            border-color: #ffffff33;
            box-shadow: 0px 0px 0px 1.5px #333333;
            box-shadow: 0px 1px 0px 1.5px #333333;
            box-shadow: 0px 2px 0px 0px #000000;
            margin-bottom: 0.75rem;
            color: #f6f3f6;
            font-size: 0.75rem;
            font-weight: 600;
            cursor: pointer;
            outline: none;

            &:hover {
              background: linear-gradient(0deg, #ffffff33, #ffffff33),
                linear-gradient(0deg, #2a2a2a, #2a2a2a);
            }

            &:active {
              background: #2b2b2b;
              box-shadow: 0px 0px 0px 1.5px #333333;
              box-shadow: 0px 3px 0px 0px #000000 inset;
            }

            &:focus {
              box-shadow: 0px 0px 0px 3px #005bd3;
            }
          }

          .cl-menu {
            display: none;
          }

          .show-menu {
            display: block;
          }

          .import {
            font-size: 0.75rem;
            color: #323232;
            font-weight: 600;
          }
        }

        .content-image {
          display: none;
        }
      }

      .cl {
        background: #f3f3f3;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  header {
    .m-logo {
      display: none;
    }

    .d-logo {
      display: block;
    }

    .search {
      input {
        width: 30rem;
      }
    }

    .notification {
      .bell-notf {
        background: #303030;
        border-radius: 8px;
        padding: 0.4rem;
      }

      .notf {
        width: 24rem;
      }

      .user {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: #303030;
        border: none;
        padding: 0.1rem;

        span:first-child {
          display: inline;
          border-radius: 8px 0 0 8px;
          font-size: 0.75rem;
          color: #e3e3e3;
          font-weight: 500;
          background: #303030;
          padding: 0.4rem;
        }

        span:last-child {
          background: #36fba1;
          padding: 0.4rem;
          border: 1px solid #656266;
          border-radius: 8px;
        }

        &:hover span:first-child,
        &:active span:first-child {
          background: #656266;
        }
      }
    }
  }

  main {
    width: 50rem;
    margin: auto;

    .trial-extension {
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
      }

      a {
        margin-right: 3rem;
      }
    }

    .store-setup {
      border-radius: 8px;

      .one {
        .two {
          display: flex;
          align-items: center;

          .content-image {
            display: block;
          }

          .cl-menu {
            display: none;
          }

          .show-menu {
            display: block;
          }
        }
      }
    }
  }
}
